<link rel="stylesheet" href="{{ 'quiz.css' | asset_url }}" media="print" onload="this.media='all'">
<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  const s = document.getElementsByClassName("start");
  if (s[0].style.display = "flex"){
    s[0].style.display = "none"; 
  }
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "flex";
  slides[slideIndex-1].style.flexDirection = "column";  
  dots[slideIndex-1].className += " active";
}

function handleClick(){
  currentSlide(1)
  const s = document.getElementsByClassName("start");
  console.log(s[0])
  s[0].style.display = "none"; 
}

</script>

<div>
  <h1 class="main-page-title page-title h0">
  </h1>
  <div class="rte">
    <input type="hidden" id="quizid" value="{{ quiz_id }}" />
    

  </div>
  <div>
    <product-quiz class="quiz">

      <form action="post" class="form" novalidate="validate">

        <div class="slideshow-container" id="questions">
          <div class="mySlides fade">
            <span class="product-quiz__question-answer">
              </span>
            <!-- The dots/circles -->
            <div class="slide-dots" style="text-align:center">
            </div>

            <div class="product-body">

            </div>
            
            
              </div>
          <div class="start" style="text-align:center">
            <span class="product-quiz__question-answer">
              </span>
              <h2 class="product-quiz__title"></h2>
              <div class="product-quiz__body">
                <span>
                  <div id="loading" style="display:none">Loading...</div>
                </span>
                <br>
                <button onclick="handleClick()" class="product-quiz__submit button button--secondary">START QUIZ</button>
              </div>
          </div>
                          

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>
      </form>
    </product-quiz>
  </div>
</div>